doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Nyondo Hardware
  link(rel='stylesheet' href='/css/index.css')
section.hero
  .content
    h1 Welcome to Nyondo Hardware stock &amp; sales controlling system
    p Your trusted building materials supplier
    a.btn(href='/login') Login
