doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Login Page
  link(rel='stylesheet' href='/css/login.css')
.login-box
  h2 
  form.login-form(action='/login' method='post')
    input(type='text' placeholder='Email or Username' required='')
    input(type='password' placeholder='Password' required='')
    button(type='submit') Sign In
  p
    a(href='#') Forgot Password?
  p
    | Don&apos;t have an account? 
    a(href='/sign') Sign Up
| l
