doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sales Registration
  link(rel='stylesheet' href='/css/sales.css')
.container
  h2 Register New Sales
  form
    .row
      .input-box
        label Customer Name
        input(type='text' placeholder='Enter customer name' name='customerName')
    .row
      .input-box
        label Customer Address
        input(type='text' placeholder='Enter address' name='customerAddress')
      .input-box
        label Customer Distance (KM)
        input(type='number' placeholder='Enter distance' name='customerDistance')
    .row
      .input-box
        label Phone Number
        input(type='text' placeholder='Enter phone number' name='phoneNumber')
      .input-box
        label Item Name
        select(name='itemName')
          option Wheelbarrow
          option Nails 1 inch
          option Iron sheets
          option Wire mesh
    .row
      .input-box
        label Quantity
        input(type='number' name='quantity')
        //- .input-box
        //- label item image 
        //- input(type='file' name='itemimage')
      .input-box
        label Unit Price
        input(type='number' name='unitPrice')
    .row
      .input-box
        label Transport Charge
        input(type='number' placeholder='Enter transport charge' name='transportCharge')
      .input-box
        label Total Charge
        input(type='number' placeholder='Enter total charge' name='totalCharge')
    .row
      .input-box
        label Payment Method
        select(name='paymentMethod')
          option Cash
          option Mobile Money
          option Bank
      .input-box
        label Action
        select
          option Edit
          option Delete
    button(type='submit') Submit Sales
