doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title nyondo stock signup page
link(rel='stylesheet' href='/css/signin.css')
.signin-box
  h1 Signup
  form(action='/signin' method='post')
    input(type='text' placeholder='fullname' name='fullname' required='')
    input(type='text' placeholder='email' name='email' required='')
    input(type='text' placeholder='phone number' name='phoneNumber' required='')
    input(type='password' placeholder='password' name='password' required='')
    input(type='address' placeholder='address' name='address')
    input(type='Nin' placeholder='Nin' name='Nin' required='')
    input(type='comfirm password' placeholder='comfirm password' required='')
    select(name='role' required)
      option(value='' disabled selected) Select role
      option(value='Admin') Admin
      option(value='Sales_attendant') Sales attendant
      option(value='Store_Manager') Store Manager
    button(type='submit') Sign In
