doctype html
head
  meta(charset='UTF-8')
  title Nyondo Hardware Stock Form
  link(rel='stylesheet' href='/css/stock.css')
header
  h1 NYONDO HARDWARE STOCK FORM
.container
  form.form-card
    h2 Stock Entry
    .form-group
      label Product Name
      input(type='text' placeholder='e.g Cement' name='Product Name')
    .form-group
      label Current Stock
      input(type='number' placeholder='e.g 100' name='Current stock')
    .form-group
      label New Stock Added
      input(type='number' placeholder='e.g 50' name='New stock Added')
    button(type='submit') Save Stock
  a(href='stockregform.html')
    button Register new stock
  form.form-card
    h2 Items Sold Today
    .form-group
      label Item Name
      input(type='text' placeholder='e.g Paint' name='Item Name')
    .form-group
      label Quantity Sold
      input(type='number' placeholder='e.g 10' name='Quantity solid')
    button(type='submit') Record Sale
  .form-card.summary
    h2 Stock Summary
    p
      strong Total Stock:
      |  250 Units
    h3 Stock Alerts
    p.low &#x26A0;&#xFE0F; Iron Sheets are low
    p.low &#x26A0;&#xFE0F; Nails are low
    p &#x2714; Other stock levels are okay
    h3 Items Sold Today
    ul
      li Cement - 10
      li Paint - 5
