doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Stock Registration Form
    link(rel='stylesheet' href='/css/stockregform.css')

  body
    .form-container
      h2 Stock Registration

      form(action="/stockregform" method="post" enctype='multipart/form-data')

        label Item Name
        select(name='itemName')
            option(value="Wheelbarrow") Wheelbarrow
            option(value="Nails 1 inch") Nails 1 inch
            option(value="Nails 3 inch") Nails 3 inch
            option(value="Nails 4 inch") Nails 4 inch
            option(value="Nails 5 inch") Nails 5 inch
            option(value="Roofing nails in 5kgs packs") Roofing nails in 5kgs packs
            option(value="Barbed wires high tensile") Barbed wires high tensile
            option(value="Barbed wires low tensile") Barbed wires low tensile
            option(value="Iron sheets (black - 30)")  Iron sheets (black - 30)
            option(value="Iron sheets (red - 32)") Iron sheets (red - 32)
            option(value="Iron sheets (green - 28)") Iron sheets (green - 28)
            option(value="Wire mesh") Wire mesh
            option(value="Iron bars 10mm") Iron bars 10mm
            option(value="Iron bars 10mm") Iron bars 10mm
            option(value="Iron bars 16mm") Iron bars 16mm
            option(value="cem ii") cem ii 
            option(value="cem iii") cem iii 
        .row
          .input-box
            label Quantity
            input(type='number' placeholder='Enter quantity' name='quantity')

          .input-box
            label Unit Price
            input(type='number' placeholder='Enter price' name='unitPrice')

        .row
          .input-box
            label Selling Price
            input(type='number' placeholder='Enter selling price' name='sellingPrice')

          .input-box
            label Supplier Name
            input(type='text' placeholder='Enter supplier' name='supplierName')

          .input-box
            label Supplier Phone 
            input(type='tel' value='+256' pattern='^\\+256\\d{9}$' title='Must be +256 followed by 9 digits' name='supplierPhone' required)
        .row
          .input-box
            label item image 
            input(type='file' placeholder='uploading' name='itemimage')
          .input-box
            label Factory Name
            input(type='text' placeholder='Enter factory name' name='factory')

          .input-box
            label Payment Status 

            select(name='paymentStatus')
              option Select Payment Status
              option cleared
              option pending

        button(type='submit') Register Stock
