
  body {
        font-family: Arial;
        background: url("/images/nyondo.png") no-repeat center center/cover;
    }
      .login-box {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 10px gray;
      }
          input {
      width: 100%;
      padding: 10px;
      margin: 8px 0;
          }
          
      button {
        width: 100%;
        padding: 10px;
        background: darkblue;
        color: white;
        border: none;
      }
      button:hover{
        background-color: orange;
      }