<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nyondo Hardware</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>

  <body>
    <section class="hero">
      <div class="content">
        <h1>Welcome to Nyondo Hardware stock & sales controlling system</h1>
        <p>Your trusted building materials supplier</p>
        <a href="login.html" class="btn">Login</a>
      </div>
    </section>
  </body>
</html>
