<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>nyondo stock signup page</title>
  </head>
  <link rel="stylesheet" href="/css/signin.css" />
  <body>
    <div class="signin-box">
      <h1>Signup</h1>
      <form>
        <input type="text" placeholder="fullname" name="fullname" required/>
        <input type="text" placeholder="email" name="email" required />
        <input type="text" placeholder="phone number" name="phone number"required />
        <input type="password" placeholder="password" name="password" required />
        <input type="address" placeholder="address" name="address">
        <input type="Nin" placeholder="Nin" name="Nin" required>
        <input
          type="comfirm password"
          placeholder="comfirm password"
          required
        />
        <select name="User" id="">User</select>
        <option value="Admin">Admin</option>
        <option value="Sales attendant">Sales attendant</option>
        <option value="store Manager">store Manager</option>
        <button type="submit">Sign In</button>
      </form>
    </div>
  </body>
</html>
